.orders{
    display: flex;
    justify-content: center;
    .container{
        width: 1400px;
        padding: 50px 0px;

        .title{
            display: flex;
            align-items: center;
            justify-content: space-between;

            button{
                background-color: #CB1A6A;
                color: white;
                font-weight: 500;
                border: none;
                padding: 10px;
                cursor: pointer;
            }
        }
        table{
            width: 100%;

            thead{
                    th{
                        text-align: left;
                    }
                    
                }
                
            }

           tbody{
            tr{
                height: 50px;
                td{
                    .img{
                        width: 20px;
                        cursor: pointer;
                    }
                    .delete{
                    width: 50px;
                    height: 25px;
                    object-fit: cover;
                    }
                }
                tr{
                    &:nth-child(even){
                    background-color: #c12c6f;
                }
            }
           }
        }
    }
}