.home {
    color: black;
    .features {
        background-color: #fafafa;
      display: flex;
      justify-content: center;
      padding: 0px 0;
  
      .container {
        padding: 20px;
        display: flex;
        align-items: center;
        width: 1400px;
        gap: 15px;
  
        .item {
          h1 {}
  
          .title {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            img{
                padding: 4px;
            }
          }
            p {}
          video {
            max-width: 720px;
            margin-left:10px;

          }
        }
      }
    }
  }
  